.yellow{
  height:200px;
  width: 200px;
  background-color: red;
  position: relative;
  left: 400px;
  top: 400px;
}
.blue{
  width: 200px;
  height: 200px;
  background-color: blue;
  position: relative;

  left: 200px;
}
.red{
  width: 200px;
  height: 200px;
  background-color: yellow;
  position: relative;
  bottom: 400px;

}
